doctype html
html
  head
    title= title ? 'MaryStore | ' + title : 'MaryStore'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    main
      include components/navbar
      block content
