doctype html
html(translate="no")
  head
    title= 'MaryStore | ' + (title || 'MaryStore')
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="google", content="notranslate")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    block head
  body
    main
      include components/navbar
      block content
