extends layout

block content
  section
    .centered-content
      h1= product.product_name
      p.product-price= Number(product.product_price).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })
      div.product-description!= product.description
      span.status= (product.deletedAt === null) ? ' available' : ' unavailable'
