extends ../layout

block head
  style.
    form {
      display: flex;
      flex-direction: column;
      max-width: 500px;
      margin: auto;
    }
    form div {
      width: 100%;
    }
    input {
      width: 100%;
      font-size: 15px;
    }

block content
  h1 Login
  form(method="POST", action="/auth")
    div
      label(for="email") E-mail
      input#email(type="email", name="email", placeholder="email@email.com")
    div
      label(for="password") Senha
      input#password(type="password", name="password", placeholder="*****")
    div
      if typeof error !== 'undefined'
        p #{error}
    div
      button.cyan(type="submit") Enviar
      span &nbsp; ou &nbsp;
      a(href="/auth/register") cadastre-se
